@media only screen and (-webkit-min-device-pixel-ratio: 3) and (min-width: 569px), only screen and (min--moz-device-pixel-ratio: 3) and (min-width: 569px), only screen and (-o-min-device-pixel-ratio: 3/1) and (min-width: 569px), only screen and (min-device-pixel-ratio: 3) and (min-width: 569px), only screen and (min-resolution: 288dpi) and (min-width: 569px), only screen and (min-resolution: 3dppx) and (min-width: 569px) { 
	#slide-1 {
		background: url('image_7_3072_2951.jpg') no-repeat center center;
		background: url('image_7_3072_2951.webp') no-repeat center center;
		background-size: cover; /* or contain */
	}
} 

@media only screen and (-webkit-min-device-pixel-ratio: 3) and (min-width: 769px), only screen and (min--moz-device-pixel-ratio: 3) and (min-width: 769px), only screen and (-o-min-device-pixel-ratio: 3/1) and (min-width: 769px), only screen and (min-device-pixel-ratio: 3) and (min-width: 769px), only screen and (min-resolution: 288dpi) and (min-width: 769px), only screen and (min-resolution: 3dppx) and (min-width: 769px) { 
	#slide-1 {
		background: url('image_7_4216_2150.jpg') no-repeat center center;
		background: url('image_7_4216_2150.webp') no-repeat center center;
		background-size: cover; /* or contain */
	}
}